# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# IDE
.idea

# Tests
3if/tp/tp-oo_2/tests/max.6.in
3if/tp/tp-oo_2/tests/temp*.txt
3if/tp/tp-oo_2/tests/results.txt