<html lang="fr" ng-app="CollectIFAdminApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/lib/angular-material.min.css">
  <link rel="stylesheet" href="../css/lib/md-data-table.min.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/admin.css">
  <title>Liste des événements - Collect'IF</title>
</head>
<body flex layout="column" ng-controller="AdminHomeCtrl" ng-cloak>
  <div layout="column" role="main" flex>
    <md-toolbar class="site-headline">
      <div layout="row" flex class="fill-height md-toolbar-tools site-headline-tools">
        <h2 class="md-toolbar-item md-headline">
          <a href="index.html">Collect'IF</a>
        </h2>
      </div>
    </md-toolbar>

    <md-content md-scroll-y layout="column" flex>
      <div id="content" layout-padding flex="noshrink" class="md-body-1">
        <h3 class="md-display-1">
          Événements en attente d'un lieu
        </h3>

        <md-table-container>
          <table md-table>
            <thead md-head md-order="requete.order">
              <tr md-row>
                <th md-column><span>Activité</span></th>
                <th md-column><span>Date</span></th>
                <th md-column md-numeric>Nombre de participants</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="evenement in evenements">
                <td md-cell>{{evenement.activite}}</td>
                <td md-cell>{{evenement.date | date : 'dd/MM/yyyy'}}</td>
                <td md-cell>{{evenement.participants | number}}</td>
                <td md-cell style="text-align: center; width: 16%;"><md-button class="md-raised md-primary" ng-click="redirect('assigner.html?id=' + evenement.id)">Attribuer</md-button></td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

      </div>

      <div layout="row" flex="noshrink">
        <div id="footer" class="md-caption">© 2016 Collect'IF. Tous droits réservés.</div>
      </div>
    </md-content>
  </div>

  <script src='../js/lib/lodash.min.js'></script>
  <script src="../js/lib/angular.min.js"></script>
  <script src="../js/lib/angular-animate.min.js"></script>
  <script src="../js/lib/angular-aria.min.js"></script>
  <script src="../js/lib/angular-material.min.js"></script>
  <script src='../js/lib/angular-simple-logger.min.js'></script>
  <script src='../js/lib/angular-google-maps.min.js'></script>
  <script src="../js/lib/md-data-table.min.js"></script>

  <script src="../js/common.js"></script>
  <script src="../js/admin.js"></script>
</body>
</html>
