/* --- General --- */
html,
body {
  height: initial;
  background-color: #f0f0f0;
}

/* Toast */
#toast-erreur .md-toast-content {
    background-color: red;
    text-align: center;
}

/* Toast Center (will be included in the next Material version) */
._md-center {
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

#client-container {
  height: 80%;
}

#client-titre {
  vertical-align: middle;
  margin-left: 15%;
}

#client-titre1 {
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 3px 3px 3px #666666;
}

#client-titre2 {
  margin-top: 0;
  font-style: italic;
}

#client-card {
  vertical-align: middle;
  margin-right: 15%;
}

#client-card-nom-prenom {
  margin-bottom: 0;
}

#client-card-adresse-email {
  margin-top: 0;
}

[md-table] {
  width: 100%;
}

[md-cell] {
  text-align: center;
}