.site-headline-tools {
    padding: 0;
}

.site-headline h2 {
    font-size: 24px;
    margin: 0 30px;
}

md-content {
    background-color: #f0f0f0;
}

#footer {
    align-self: flex-end;
    padding: 15px 30px;
    text-align: center;
    width: 100%;
}

.angular-google-map-container {
    height: 400px;
}

.md-sub {
    color: #999;
    font-style: italic;
}